/* div {
    width: 50%;
    height: 300px;
    font-size: 100px;
    vertical-align: middle;
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    margin: 0 auto;
} */
*{
    word-wrap: break-word;
    box-sizing: border-box;
    background-color: rgb(247, 247, 229);
}
.head{
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 30px;
    border: 4px solid rgb(0, 140, 255);
    border-radius: 10px;
    color: rgba(8, 101, 187, 0.822);
}
#button{
    text-align: center;
    margin-top: 40px;
   
    
}
#ctrl{
    font-size: 30px;
    padding: 10px;
    background-color: rgb(243, 73, 73);
    color: rgb(241, 235, 224);
    border-radius: 4px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.side1{
    display: flex;
    flex-direction: row;
    margin: 30px 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}
.side2{
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.temp-class{
    margin: 50px;
    border: 4px solid rgb(6, 218, 6);
    width: 25%;
    color: rgb(13, 121, 13);;
}
.pulse-class{
    margin: 50px;
    border: 4px solid rgb(238, 13, 182);
    width: 25%;
    color: rgb(122, 8, 94);;
}
.stress-class{
    margin: 50px;
    border: 4px solid rgb(238, 13, 182);
    width: 25%;
    color: rgb(122, 8, 94);;
}
.location-class{
    margin: 50px;
    border: 4px solid rgb(6, 218, 6);
    width: 25%;
    color: rgb(13, 121, 13);;
}
.name{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 10px;
    font-weight: 500;
}
#temp{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
#pulrat{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
#str{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
#loc{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
@media (max-width: 840px){
    .side1, .side2{
        flex-direction: column;
    }
    .side2{
        margin-top: 0px;
    }
    .side1{
        margin-bottom: 0px;
    }
    .temp-class, .stress-class, .location-class, .pulse-class{
        width: 80%;
    }
    .name{
        font-size: 25px;
    }
    .head{
        font-size: 45px;
    }
    .location-class{
        order: 1;
    }
    .stress-class{
        order: 2;
    }
}